<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <!--        <link href="resources/static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--        <link  rel="stylesheet" type="text/css" href="@{/css/bootstrap.min.css}">-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <!--        <link href="resources/static/css/metisMenu.min.css" rel="stylesheet">-->
    <!--        <link  rel="stylesheet" type="text/css" href="@{/css/metisMenu.min.css}">-->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">
    <!-- Timeline CSS -->
    <!--        <link href="resources/static/css/timeline.css" rel="stylesheet">-->
    <link th:href="@{/css/timeline.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <!--        <link href="resources/static/css/startmin.css" rel="stylesheet">-->
    <link th:href="@{/css/startmin.css}" rel="stylesheet">


    <!-- Morris Charts CSS -->
    <!--        <link href="${pageContext.request.contextPath}/resources/static/css/morris.css" rel="stylesheet">-->
    <link th:href="@{/css/timeline.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <!--        <link href="${pageContext.request.contextPath}/resources/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Startmin</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Welcome</a></li>
        </ul>

        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>Admin<b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a th:href="@{/ab}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/forms}"><i class="fa fa-user-o fa-fw"></i> Add User</a>
                    </li>
                    <li>
                        <a th:href="@{/showAddFlight}"><i class="fa fa-plane fa-fw"></i>Add Bus</a>
                    </li>
                    <li>
                        <a th:href="@{/viewFlight}"><i class="fa fa-street-view fa-fw"></i> View Bus</a>
                    </li>
                    <li>
                        <a th:href="@{/viewUser}"><i class="fa fa-users fa-fw"></i> View Users</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron">

      <div id="page-wrapper">
         <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-plane fa-fw"></i> Recent Flights
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Flight Name</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Departure Date</th>
                                        <th>Departure Time</th>
                                        <th>Return Date</th>
                                        <th>Class</th>
                                        <th>Type</th>
                                        <th>Edit</th>
                                        <th>Delete</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="flight:${flights}">
                                        <td th:text="${flight.getFlightNumber()}"></td>
                                        <td th:text="${flight.getDepartureCity()}"></td>
                                        <td th:text="${flight.getArrivalCity()}"></td>
                                        <td th:text="${flight.getDateOfDeparture()}"></td>
                                        <td th:text="${flight.getEstimatedDepartureTime()}"></td>
                                        <td th:text="${flight.getDateOfReturn()}"></td>
                                        <td th:text="${flight.getPlaneClass()}"></td>
                                        <td th:text="${flight.getType()}"></td>

                                        <td><a th:href="@{/edit/{id}(id=${flight.id})}"><i class="fa fa-edit"></i></a></td>
                                       <td> <a th:href="@{/delete/{id}(id=${flight.id})}"><i class="fa fa-trash"></i></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
    </div>

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script type="text/javascript" th:src="@{/js/raphael.min.js}"></script>
<script type="text/javascript" th:src="@{/js/morris.min.js}"></script>
<script type="text/javascript" th:src="@{/js/morris-data.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" th:src="@{/js/startmin.js}"></script>

</body>
</html>
